select {
  margin-bottom: 15px;
}

label {
  display: block;
}

#page-header {
  display: block;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 25px;
}

#user-info {
  text-align: center;
}

#order-form {
  display: none;
}

#user-info-display {
  display: none;
  padding-left: 50px;
  padding-top: 20px;
}

#delivery-display {
  display: none;
  padding-left: 50px;
}
