select {
  margin-bottom: 15px;
}

#pizza-total-line {
  display: none;
}

#order-form {
  display: none;
}

#user-info-display {
  display: none;
  padding-left: 50px;
  padding-top: 20px;
}

#delivery-display {
  display: none;
  padding-left: 50px;
}
