body {
  background-image: url("../img/bg.jpg");
  font-weight: bold;
}

select {
  margin-bottom: 15px;
}

label {
  display: block;
}

#pizza-total {
  color:   #06103f;
}

#page-header {
  display: block;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 25px;
}

#user-info {
  text-align: center;
  color:   #06103f;
}

#order-form {
  display: none;
  color:   #06103f;
}

#user-info-display {
  display: none;
  padding-left: 50px;
  padding-top: 20px;
}

#delivery-display {
  display: none;
  padding-left: 50px;
}

#checkout-button {
  display: none;
  margin-left: 280px;
}

#pizza-total {
  text-align: center;
}
